.code.ruby,
.code.common_lisp {
  color: white;

  .nb, .k {
    color: #CC7833;
  }

  .no {
    color: yellow;
  }

  .o, .nf, .n, .p, .vi {
    color: white;
  }

  .sh, .s2, .sx, .se, .s1, .s {
    color: #66CC33;
  }

  .ss, .kp, .mi {
    color: #3387CC;
  }

  .c1, .cm, .cp {
    color: #9933CC;
  }

  .sr {
    color: #cccc33;
  }

  .sb {
    background-color: #cccc33;
    color: black;
  }
}

.code.plaintext {
  color: white;
}
