div.tweet.small_tweet {
  padding: 10px;
  color: #333 !important;
  width: 60%;
  margin-left: 1em;

  div.message_wrap {
    div.message {
      div.content {
        font-size: 1.6em;
      }

      div.meta,
      div.meta a {
        color: #999 !important;
        font-size: 1.1em;
      }
    }
  }

  div.user div.names span.screen_name a:link {
    font-size: 1.2em !important;
  }
}