@import 'tachyons/tachyons';
@import 'code';

body {
  @extend .sans-serif;
}

a {
  @extend .link, .dim;
}

nav, header, section, footer {
  @extend .pl3, .pr3, .pl5-ns, .pr5-ns;
}

nav {
  @extend .pa1;

  ul {
    @extend .pa0;
   
    li {
      @extend .di, .pr3, .pl0;

      &:first-child {
        @extend .b, .db, .f4, .mb1, .black;
      }

      &:nth-child(2) {
        @extend .dn;
      }
    }
  }
}

article {
  @extend .cf;
  @extend .pb3;

  h1, h2, h3, h4, h5, h6 {
    @extend .avenir;
  }

  header {
    h1 {
      // @extend .f-headline-ns, .lh-solid;
      @extend .f1-ns, .lh-title;
    }

    a {
      text-decoration: none;
    }

    p {
      @extend .i, .f6;
      @extend .gray;
    }
  }

  &.with-table-of-contents {
    p.p-with-image.beside-float {
      @extend .w-60-ns;
    }

    .table-of-contents {
      @extend .fr, .w-30-ns, .ml3;
      @extend .dn, .db-ns;
      @extend .bg-light-gray;

      @extend .f6;

      ul {
        @extend .list;
        @extend .pl3, .pr3;

        ul {
          @extend .pr0;
        }
      }

      h2 {
        @extend .pl3;
      }
    }
  }

  section a {
    @extend .underline;
  }

  iframe.video {
    @extend .measure-wide;
  }

  blockquote {
    @extend .bl, .bw2, .b--black-20, .pl3, .ml0, .i;
  }

  p:not(.p-with-image),
  li {
    @extend .lh-copy, .measure-wide;
  }

  p.p-with-image {
    @extend .w-100;
  }

  pre > .code,
  pre > code {
    color: white;
    @extend .shadow-1, .pa3, .lh-copy, .bg-black, .db;
  }

  p code {
    @extend .bg-light-gray;
    @extend .pa1;
  }
}

body > footer {
  @extend .cf, .w-100;
  @extend .moon-gray;
  @extend .f6;

  a {
    @extend .gray;
  }
}

body.start {
  nav {
    ul {
      li:nth-child(2) {
        @extend .db, .f5, .lh-copy, .mb3, .o-50;
      }
    }
  }

  article header h2,
  .previously h2 {
    @extend .o-50;
  }

  article header h1 {
    @extend .mt0;
  }

  article {
    @extend .fl-ns, .w-60-ns;
  }

  .previously {
    @extend .fl-ns, .w-40-ns;
  }
  .previously ul {
    @extend .list;
    @extend .pl0;

    li {
      @extend .mb3, .lh-copy;
    }

    a {
      @extend .mb0;

      p {
        @extend .di;
      }
    }

    aside,
    span {
      @extend .db, .o-50, .f7;
    }
  }
}

