// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";

body {
  #container {
    @include container;
    //background: url('/images/grid.png');
  }
  #header, #footer {
    @include column($blueprint-grid-columns);
    .inner_content {
      $inner_content_columns: $blueprint-grid-columns - 2;
      @include prepend(1);
      @include column($inner_content_columns);
      @include append(1);
    }
  }
  #content {
    $content-columns: $blueprint-grid-columns - 2;
    @include prepend(1);
    @include column($content-columns);
    @include append(1);

    .separator {
      margin-top: 3em;
      margin-bottom: 2em;
      @include column($content-columns);
      padding: 0;
      border: none;
      border-top: medium double #ccc;
      color: #ccc;
      text-align: center;
    }
    .separator:after {
      content: "§";
      display: inline-block;
      position: relative;
      top: -0.925em;
      font-size: 1.5em;
      padding: 0 0.25em;
      background: url(/images/creampaper.png);
    }
  }

  #content > .blog:first-of-type {
    margin-top: 0;
  }
}

body.bp {
  h1, h2, h3, h4, h5, h6 {
    font-family: "adelle-1","adelle-2";
  }
}

body {
  background: url(/images/creampaper.png);

  iframe {
    margin-bottom: 1em;
  }

  #header {
    padding: 4em 0 2em 0;
    h1 {
      margin-bottom: 10px;
    }
    p.details {
      font-weight: bold;
      color: #999;
      margin-bottom: 0;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  #footer {
    background-color: #f4f4f4;
    font-size: 18px;
    overflow: auto;
    margin-top: 2em;
    padding: 1em 0;
    overflow: auto;
    p, h4 {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: none !important;
    xfont-style: italic;
    font-weight: 600;
  }

  a:hover {
  }

  &.blog {
    padding-top: 4em;

    .site-information {
      margin-bottom: 1em;
    }
  }

  #content {
    h1 {
      margin-bottom: 10px;
    }

    .details {
      font-weight: bold;
      color: #999;
      margin-bottom: 0;
      font-size: 14px;
      text-transform: uppercase;
      padding-bottom: 2.6em;
    }

    .footnotes {
      border-top: 1px solid #eee;
      padding-top: 1em;
      font-size: 90%;
    }
  }
}
