// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";

body {
  #container {
    @include container;
    //background: url('/images/grid.png');
  }
  #header, #footer {
    @include column($blueprint-grid-columns);
    .inner_content {
      $inner_content_columns: $blueprint-grid-columns - 2;
      @include prepend(1);
      @include column($inner_content_columns);
      @include append(1);
    }
  }
  #content {
    $content-columns: $blueprint-grid-columns - 2;
    @include prepend(1);
    @include column($content-columns);
    @include append(1);

    .blog {
      @include column($blueprint-grid-columns);
      margin-top: 2em;

      .snip {
        // true means it's the last column in the row
        $snip: ceil(2 * $content-columns / 3) + 1;
        @include column($snip);
        @include append(1);
      }

      #sidebar {
        // One third of the grid columns, rounding down. With 24 cols, this is 8.
        $sidebar-columns: floor($content-columns / 3) - 2;
        @include column($sidebar-columns, true);
        font-size: 80%;
        #details {
          margin-bottom: 1em;
          color: #ccc;
          font-style: italic;
        }
      }
    }
    .separator {
      margin-top: 2em;
      margin-bottom: 2em;
      @include column($content-columns);
      border: none;
      height: 2px;
      background-color: #f6f6f6;
    }
  }

  #content > .blog:first-of-type {
    margin-top: 0;
  }
}

body.bp {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather';
  }
}

body {
  iframe {
    margin-bottom: 1em;
  }

  #header {
    background-color: #eee;
    font-size: 50%;
    padding-top: 1em;
    margin-bottom: 5em;
    a {
      background-color: #ddd;
    }
  }

  #footer {
    background-color: #ddd;
    overflow: auto;
    margin-top: 2em;
    .inner_content {
      margin-top: 1em;
    }
    a {
      background-color: #ccc;
    }
  }

  a {
    background-color: #eee;
    color: #000 !important;
    text-decoration: none !important;
    padding: 1px 3px;
  }

  a:hover {
    color: #888 !important;
  }

  #content {
    .details {
      $blog-details-columns: $blueprint-grid-columns - 8;
      @include prepend($blog-details-columns);
      @include column(6, true);

      font-size: 12px;
      text-align: right;

      .created_at {
        font-variant: italics;
      }
      a {
        background-color: none !important;
        color: #888 !important;
        text-decoration: none;
        border-bottom: 1px dotted #aaa;
      }
    }
    
    .footnotes {
      font-size: 90%;
    }
  }
}