@import "susy";
@import "code";

$total-columns  : 10;             // a 12-column grid
$column-width   : 3em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$base-font-size : 18px;

body {
  #container {
    @include container;
    // @include susy-grid-background;

    &>nav, &>#content, &>footer {
      @include span-columns(10,10);
      clear: both;
      overflow: auto;
    }
  }
}

body, .separator:after, hr:after {
  // background: url(/images/creampaper.png);
  // background-color: #E3E3E1;
  background-color: white;
}


body {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
  font-size: $base-font-size;

  h1, h2, h3, h4, h5, h6 {
    font-family: "adelle-1","adelle-2";
  }

  iframe {
    margin-bottom: 1em;
  }

  $linkColour: #dc6f11;
  $linkColour: #6cafe4;

  a {
    color: $linkColour;
    &:hover {
      color: lighten($linkColour, 15%);
    }
    &:visited {
      color: darken($linkColour, 25%);

      &:hover {
        color: lighten($linkColour, 5%);
      }
    }
  }


  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline;
        margin-right: 2em;
      }
    }
  }


  header {
    margin-bottom: 2em;
    h1 {
      font-size: 3em;
      margin-bottom: 0.1em;
    }

    .details {
      font-weight: bold;
      color: #999;
      margin-bottom: 0;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .separator {
    margin: 4em 0 2em 0;
    padding: 0;
    border: none;
    border-top: medium double #ccc;
    color: #ccc;
    text-align: center;
  }
  .separator:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.925em;
    font-size: 1.5em;
    padding: 0 0.25em;
  }

  #content {
    img {
      max-width: 100%;
    }

    .footnotes {
      margin-top: 4em;
      padding: 1em;
      background-color: lighten(#E3E3E1, 7%);
      font-size: 90%;

      ol, p {
        margin: 0;
      }
      li {
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .code, pre > code {
      margin: 1em 0;
      display: block;
      padding: 0 1em;
      color: white;
      background-color: #222;
      border: 0.3em solid #999;
      overflow: scroll;
    }

    pre > code {
      padding: 1em;
    }

    tt, p > code, li > code {
      background-color: #ddd;
      padding: 0 0.3em;
    }

    blockquote {
      margin-left: 0;
      padding-left: 2em;
      border-left: 0.3em solid #ddd;

      p {
        font-style: italic;
      }
    }

    hr {
      margin: 3em auto 1em auto;
      padding: 0;
      border: none;
      border-top: medium double #ccc;
      color: #ccc;
      text-align: center;
      width: 60%;
    }
    hr:after {
      content: "ยง";
      display: inline-block;
      position: relative;
      top: -0.925em;
      font-size: 1.5em;
      padding: 0 0.25em;
    }
  }

  #content > .blog:first-of-type {
    margin-top: 0;
  }

  footer {
    padding-bottom: 2em;
    p {
      margin: 0;
    }
  }

  a {
    text-decoration: none !important;
    font-weight: 600;
  }
}
