/* line 1, sass/code.scss */
.ruby {
  color: white;
}
/* line 4, sass/code.scss */
.ruby .k {
  color: #CC7833;
}
/* line 8, sass/code.scss */
.ruby .o, .ruby .nf, .ruby .n, .ruby .p, .ruby .vi {
  color: white;
}
/* line 12, sass/code.scss */
.ruby .no, .ruby .sh, .ruby .s2, .ruby .sx, .ruby .se, .ruby .s1 {
  color: #66CC33;
}
/* line 16, sass/code.scss */
.ruby .ss, .ruby .kp, .ruby .mi {
  color: #3387CC;
}
/* line 20, sass/code.scss */
.ruby .c1, .ruby .cm, .ruby .cp {
  color: #9933CC;
}
/* line 24, sass/code.scss */
.ruby .sr {
  color: #cccc33;
}
/* line 28, sass/code.scss */
.ruby .sb {
  background-color: #cccc33;
  color: black;
}
