@charset "UTF-8";
/* line 10, sass/screen.scss */
body #container {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, /Users/james/Code/lazyatom/interblah.net/.bundle/gems/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, sass/screen.scss */
body #container > nav, body #container > #content, body #container > footer {
  width: 100%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
  clear: both;
  overflow: auto;
}

/* line 22, sass/screen.scss */
body {
  background: url(/images/creampaper.png);
  background-color: #E3E3E1;
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
  font-size: 18px;
}
/* line 29, sass/screen.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "adelle-1","adelle-2";
}
/* line 33, sass/screen.scss */
body iframe {
  margin-bottom: 1em;
}
/* line 38, sass/screen.scss */
body nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 42, sass/screen.scss */
body nav ul li {
  display: inline;
  margin-right: 2em;
}
/* line 50, sass/screen.scss */
body header {
  margin-bottom: 2em;
}
/* line 52, sass/screen.scss */
body header h1 {
  font-size: 3em;
  margin-bottom: 0.1em;
}
/* line 57, sass/screen.scss */
body header .details {
  font-weight: bold;
  color: #999;
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 66, sass/screen.scss */
body .separator {
  margin: 4em 0 2em 0;
  padding: 0;
  border: none;
  border-top: medium double #cccccc;
  color: #ccc;
  text-align: center;
}
/* line 74, sass/screen.scss */
body .separator:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.925em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: url(/images/creampaper.png);
  background-color: #E3E3E1;
}
/* line 86, sass/screen.scss */
body #content img {
  max-width: 100%;
}
/* line 90, sass/screen.scss */
body #content .footnotes {
  margin-top: 4em;
  padding: 1em;
  background-color: #f4f4f3;
  font-size: 90%;
}
/* line 96, sass/screen.scss */
body #content .footnotes ol, body #content .footnotes p {
  margin: 0;
}
/* line 99, sass/screen.scss */
body #content .footnotes li {
  margin-bottom: 1em;
}
/* line 101, sass/screen.scss */
body #content .footnotes li:last-child {
  margin-bottom: 0;
}
/* line 107, sass/screen.scss */
body #content pre.code {
  padding: 1em;
  color: white;
  background-color: #222;
  border: 0.3em solid #999999;
  overflow: scroll;
}
/* line 116, sass/screen.scss */
body #content > .blog:first-of-type {
  margin-top: 0;
}
/* line 120, sass/screen.scss */
body footer {
  padding-bottom: 2em;
}
/* line 122, sass/screen.scss */
body footer p {
  margin: 0;
}
/* line 127, sass/screen.scss */
body a {
  text-decoration: none !important;
  font-weight: 600;
}
