@charset "UTF-8";
/* line 1, sass/code.scss */
.ruby {
  color: white;
}
/* line 4, sass/code.scss */
.ruby .k {
  color: #CC7833;
}
/* line 8, sass/code.scss */
.ruby .o, .ruby .nf, .ruby .n, .ruby .p, .ruby .vi {
  color: white;
}
/* line 12, sass/code.scss */
.ruby .no, .ruby .sh, .ruby .s2, .ruby .sx, .ruby .se, .ruby .s1 {
  color: #66CC33;
}
/* line 16, sass/code.scss */
.ruby .ss, .ruby .kp, .ruby .mi {
  color: #3387CC;
}
/* line 20, sass/code.scss */
.ruby .c1, .ruby .cm, .ruby .cp {
  color: #9933CC;
}
/* line 24, sass/code.scss */
.ruby .sr {
  color: #cccc33;
}
/* line 28, sass/code.scss */
.ruby .sb {
  background-color: #cccc33;
  color: black;
}

/* line 11, sass/screen.scss */
body #container {
  *zoom: 1;
  max-width: 39em;
  _width: 39em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, /Users/james/Code/lazyatom/interblah.net/.bundle/gems/ruby/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, sass/screen.scss */
body #container > nav, body #container > #content, body #container > footer {
  width: 100%;
  float: left;
  margin-right: 2.5641%;
  display: inline;
  clear: both;
  overflow: auto;
}

/* line 23, sass/screen.scss */
body, .separator:after, hr:after {
  background-color: white;
}

/* line 30, sass/screen.scss */
body {
  font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2";
  font-size: 18px;
}
/* line 34, sass/screen.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "adelle-1","adelle-2";
}
/* line 38, sass/screen.scss */
body iframe {
  margin-bottom: 1em;
}
/* line 45, sass/screen.scss */
body a {
  color: #6cafe4;
}
/* line 47, sass/screen.scss */
body a:hover {
  color: #add2f0;
}
/* line 50, sass/screen.scss */
body a:visited {
  color: #2071b0;
}
/* line 53, sass/screen.scss */
body a:visited:hover {
  color: #82bbe8;
}
/* line 61, sass/screen.scss */
body nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 65, sass/screen.scss */
body nav ul li {
  display: inline;
  margin-right: 2em;
}
/* line 73, sass/screen.scss */
body header {
  margin-bottom: 2em;
}
/* line 75, sass/screen.scss */
body header h1 {
  font-size: 3em;
  margin-bottom: 0.1em;
}
/* line 80, sass/screen.scss */
body header .details {
  font-weight: bold;
  color: #999;
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 89, sass/screen.scss */
body .separator {
  margin: 4em 0 2em 0;
  padding: 0;
  border: none;
  border-top: medium double #cccccc;
  color: #ccc;
  text-align: center;
}
/* line 97, sass/screen.scss */
body .separator:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.925em;
  font-size: 1.5em;
  padding: 0 0.25em;
}
/* line 107, sass/screen.scss */
body #content img {
  max-width: 100%;
}
/* line 111, sass/screen.scss */
body #content .footnotes {
  margin-top: 4em;
  padding: 1em;
  background-color: #f4f4f3;
  font-size: 90%;
}
/* line 117, sass/screen.scss */
body #content .footnotes ol, body #content .footnotes p {
  margin: 0;
}
/* line 120, sass/screen.scss */
body #content .footnotes li {
  margin-bottom: 1em;
}
/* line 122, sass/screen.scss */
body #content .footnotes li:last-child {
  margin-bottom: 0;
}
/* line 128, sass/screen.scss */
body #content .code {
  margin: 1em 0;
  display: block;
  padding: 0 1em;
  color: white;
  background-color: #222;
  border: 0.3em solid #999999;
  overflow: scroll;
}
/* line 138, sass/screen.scss */
body #content tt, body #content p > code, body #content li > code {
  background-color: #ddd;
  padding: 0 0.3em;
}
/* line 143, sass/screen.scss */
body #content blockquote {
  margin-left: 0;
  padding-left: 2em;
  border-left: 0.3em solid #dddddd;
}
/* line 148, sass/screen.scss */
body #content blockquote p {
  font-style: italic;
}
/* line 153, sass/screen.scss */
body #content hr {
  margin: 3em auto 1em auto;
  padding: 0;
  border: none;
  border-top: medium double #cccccc;
  color: #ccc;
  text-align: center;
  width: 60%;
}
/* line 162, sass/screen.scss */
body #content hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.925em;
  font-size: 1.5em;
  padding: 0 0.25em;
}
/* line 172, sass/screen.scss */
body #content > .blog:first-of-type {
  margin-top: 0;
}
/* line 176, sass/screen.scss */
body footer {
  padding-bottom: 2em;
}
/* line 178, sass/screen.scss */
body footer p {
  margin: 0;
}
/* line 183, sass/screen.scss */
body a {
  text-decoration: none !important;
  font-weight: 600;
}
